In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    'month': [1, 2, 3],
    'temperatur': [-12, 3, 9]
})

In [8]:
df.describe()

       month  temperatur
count    3.0    3.000000
mean     2.0    0.000000
std      1.0   10.816654
min      1.0  -12.000000
25%      1.5   -4.500000
50%      2.0    3.000000
75%      2.5    6.000000
max      3.0    9.000000

In [9]:
df = pd.DataFrame({
    'month': [1, 2, 3, 4, 5, 6],
    'temperatur': [-12, 3, 9, 11, 15, 18]
})

#F: Welche Statistikem liefert ein Aufruf der Funktion desribe()?
#A: Spaltenzeilen (Anzahl Datenpaare), Minimalwert, Maximalwert, Durchschnittswert, 1. Quartil, 1-2. Quartil, 1-3. Quartil, std?